<div class="contenido">
<table class="table table-responsive table-sm table-hoverable table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre del Equipo</th>
      <th>Descripción</th>
      <th>Entrenador</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of teamData">
      <td>{{team.id}}</td>
      <td>{{team.nombre}}</td>
      <td>{{team.descripcion}}</td>
      <td>{{team.entrenador.username}}</td>
      <td>
        <button class="btn btn-success" (click)="verEquipos(team)">Ver</button>&nbsp;
        <button class="btn btn-primary" routerLink="/teams/edit/{{team.id}}">Editar</button>&nbsp;
        <button class="btn btn-danger" (click)="eliminarTeam(team.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="pagination">
  <button class="btn btn-primary" (click)="goToFirstPage()"><<</button>&nbsp;
  <button class="btn btn-primary" (click)="prevPage()"><</button>&nbsp;

  <select style="text-align: center;" [(ngModel)]="currentPage" class="form-control" (change)="currentPage !== null ? goToPage(currentPage) : null">
    <option *ngFor="let page of pages" [value]="page" [selected]="page === currentPage">{{ page + 1 }}</option>
  </select>&nbsp;

  <button class="btn btn-primary" (click)="nextPage()">></button>&nbsp;
  <button class="btn btn-primary" (click)="goToLastPage()">>></button>
</div>
<div class="acciones">
  <button class="btn btn-warning" (click)="createMultipleTeams(10)">+10</button>&nbsp;
  <button class="btn btn-warning" (click)="createMultipleTeams(50)">+50</button>&nbsp;
  <button class="btn btn-secondary" routerLink="/teams/new">Crear</button>&nbsp;
  <button class="btn btn-warning" (click)="createMultipleTeams(100)">+100</button>&nbsp;
  <button class="btn btn-danger" routerLink="/teams/new">Vaciar</button>

</div>
</div>