<form (submit)="onSubmit()">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre del equipo</label>
    <input type="text" class="form-control" id="nombre" [(ngModel)]="team.nombre" name="nombre" required>
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción</label>
    <input type="text" class="form-control" id="descripcion" [(ngModel)]="team.descripcion" name="descripcion" required>
  </div>
  <div class="mb-3">
    <label for="entrenador" class="form-label">Entrenador</label>
    <select class="form-select" id="entrenador" [(ngModel)]="team.entrenador" name="entrenador" required>
      <option *ngFor="let trainer of trainers" [ngValue]="trainer">{{ trainer.username }}</option>
    </select>
  </div>  
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
