.contenido {
  margin-left:5%;
  margin-right:5%;
}

.pagination {
  width: 25%;
  text-align: center;
  /*center the pagination*/
  margin: 0 auto;
  margin-top:2%;
}

.acciones {
  text-align: center;
  margin:0 auto;
  margin-top: 2%;
  margin-bottom:6%;
}
