<div class="contenido">
<table class="table table-responsive table-sm table-hoverable table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trainer of trainerData">
      <td>{{trainer.id}}</td>
      <td>{{trainer.username}}</td>
      <td>{{trainer.email}}</td>
      <td *ngIf="trainer.role==0">Administrador</td>
      <td *ngIf="trainer.role==1">Usuario</td>
      <td>
        <button class="btn btn-success" (click)="verTrainer(trainer)">Ver</button> &nbsp;
        <button class="btn btn-primary" routerLink="/trainers/edit/{{trainer.id}}">Editar</button> &nbsp;
        <button class="btn btn-danger" (click)="eliminarTrainer(trainer.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="pagination">
  <button class="btn btn-primary" (click)="goToFirstPage()"><<</button>&nbsp;
  <button class="btn btn-primary" (click)="prevPage()"><</button>&nbsp;

  <select style="text-align: center;" [(ngModel)]="currentPage" class="form-control" (change)="currentPage !== null ? goToPage(currentPage) : null">
    <option *ngFor="let page of pages" [value]="page" [selected]="page === currentPage">{{ page + 1 }}</option>
  </select>&nbsp;

  <button class="btn btn-primary" (click)="nextPage()">></button>&nbsp;
  <button class="btn btn-primary" (click)="goToLastPage()">>></button>
</div>
<div class="acciones">
  <button class="btn btn-warning" (click)="createMultipleTrainers(10)">+10</button>&nbsp;
  <button class="btn btn-warning" (click)="createMultipleTrainers(50)">+50</button>&nbsp;
  <button class="btn btn-secondary" routerLink="/trainers/new">Crear</button>&nbsp;
  <button class="btn btn-warning" (click)="createMultipleTrainers(100)">+100</button>&nbsp;
  <button class="btn btn-danger" (click)="deleteAllTrainers()">Vaciar</button>

</div>
</div>