
<button style="margin-left: 84%;">Crear</button>
<table style="width: 75%; text-align: center; margin-left: 12%;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trainer of trainerData">
      <td>{{trainer.id}}</td>
      <td>{{trainer.username}}</td>
      <td>{{trainer.email}}</td>
      <td *ngIf="trainer.role==0">Administrador</td>
      <td *ngIf="trainer.role==1">Usuario</td>
      <td>
        <button class="btn btn-success" (click)="verTrainer(trainer)">Ver</button> &nbsp;
        <button class="btn btn-primary">Editar</button> &nbsp;
        <button class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>